<form action="/users" method="POST">
    <input type="text" name="name" placeholder="nome"/>
    <input type="text" name="email" placeholder="email"/>
    <input type="text" name="address" placeholder="endereco" />
    <button type="submit">Send</button>
    <button type="submit">Delete</button>
</form>